<% parts.each do |pa| %>
  <% pouch = pa.part.product %>
  <div class="border border-primary rounded mt-4">
    <div class="d-flex justify-content-between" data-hook="pouch_type">
      <div></div>
      <div>
        <h2><%= pouch.pouch_type.capitalize %></h2>
      </div>
      <div>
        <%= link_to_with_icon("delete", Spree.t("delete"),
                  remove_admin_product_part_url(product, pa),
                  :class => "remove_admin_product_part_link btn btn-danger btn-sm delete-resource", :no_text => true) %>
      </div>
    </div>
    <div class="d-flex justify-content-center" data-hook="pouch_name">
      <div>
        <h4><%= link_to pouch.name, edit_admin_product_url(pouch) %></h4>
      </div>
    </div>
  </div>
<% end %>
